
<div class="container formName">
  <h1 class="name1">Customer</h1>
    <form>
      <div class="form-group">
        <label for="FirstName">FirstName</label>
        <input (keyup.enter)="onKey(0)" type="text" class="form-control"  [(ngModel)]="FirstName" name="FirstName"
         required
        #FirstName_class >
      </div>
      <div class="form-group">
          <label for="LastName">LastName</label>
          <input (keyup.enter)="onKey(0)" type="text" class="form-control"  [(ngModel)]="LastName" name="LastName"
           required
          #LastName_class >
        </div>
      <p>FullName: {{LastName}} {{FirstName}}</p>
    </form>
    
    <div class="listCustomer">
      <h3 class="name1">Danh sách khách hàng</h3>
    <table>
      <thead>
        <tr>
          <th>Stt</th>
          <th>Họ và Tên</th>
        </tr>
      </thead>
      <tfoot>
        <tr *ngFor="let item of customers; let i = index">
          <td>{{i+1}}</td>
          <td>{{item.LastName}} {{item.FirstName}}</td>
        </tr>
      </tfoot>
    </table>
  </div>
</div>