body{
    margin: 0;
    padding: 0;
}
.name1{
    background: #bdbdbd;
    text-align: center;
    margin: 0;
    padding: 0;
}

form{
    padding-top: 20px;
    text-align: center;
    width: auto;
    height: 150px;
    border: 1px solid #bdbdbd;
    background: #f1eded;
}

.formName label{
    color: black;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
}

.formName input{
    width: 300px;
    border-radius: 3px;
    border: 1px solid #bdbdbd;
    height: 25px;
    margin-bottom: 10px;
}

.listCustomer{
    margin-top: 20px;
}
.listCustomer table{
    border: 1px solid #bdbdbd;
    width: 100%;
    text-align:center;
}
.listCustomer table tfoot tr{
    border: 1px solid #bdbdbd;
}
.listCustomer table tr:first{
    background: #bdbdbd;
}
.listCustomer table tr{
    background: white;
}